<div id="question">
<h2>Question</h2>

<%= form_for(item, html: {'data-turbo': false}) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, palceholder: "Question title", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :topics %><br />
    <%= f.select :topic_ids, options_for_topic, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :body, rows: 10, cols: 10, placeholder: "Leave details...", autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Ask" %>
  </div>
<% end %>
</div>
