<%= render 'base' %>
<% can_edit =  policy(@question).update? %>
<div class="question" id="question<%= @question.id %>">
  <div class="topics">
    <div class="item_list">
      <% if !@question.topics.blank? %>
        <%= topics_name_tag(@question.topics) %>
      <% else %>
        <% if current_user %>
          <span class="no_result">Please add a topics for others to find</span>
        <% end %>
      <% end %>
      <% if can_edit %>
        <a href="#" onclick="return Questionss.toggleEditTopics(true);" class="in_place_edit">edit</a>
      <% end %>
    </div>
    <div class="edit_topics" style="display:none">
      <div class="items">
        <% if !@question.topics.blank? %>
          <% @question.topics.each_with_index do |item,i| %>
          <div class="topic">
            <a href="#" onclick="Asks.removeTopic(this,<%= i %>,'<%= item %>');" class="remove"></a>
            <span><%= item %></span>
          </div>
          <% end %>
        <% end %>
      </div>
      <form data-remote="true" action="<%= question_path(@question.id) %>/update_topic" onsubmit="return Questions.beforeAddTopic(this);" method="post">
        <input type="text" class="name" id="searchTopic" style="width:100px;" name="name" value="" placeholder="search..." /> 
        <input type="hidden" name="add" value="1" /> 
        <button type="submit" class="small">Submit</button> 
      </form>
    </div>
  </div>
  <div class="title">
    <h1><%= "#{@question.user.name}：" if !@question.user.blank? %><span id="ask_title"><%= @question.title %></span></h1>
    <% if can_edit %>
      <%= in_place_edit_tag @question, :title, :type => :textarea, :width => 598, :height => 40, :rich => false, :text_id => "ask_title" %>
    <% end %>
  </div>
  <div class="md_body">
    <div id="ask_body"<% if @question.body.blank? %> class="blank-body"<% end %>><%= @question.body %></div>
    <% if can_edit %>
      <% if @question.body.blank? %>
        <%= in_place_edit_tag @question, :body, :type => :textarea, :text_id => "ask_body",:label => "添加补充资料" %>
      <% else %>
        <%= in_place_edit_tag @question, :body, :type => :textarea, :text_id => "ask_body" %>
      <% end %>
    <% end %>
  </div>
  <div class="action">
    <% if @question.comments_count == 0 %>
      <a href="#" onclick="return Asks.toggleComments('ask','<%= @question.id %>');">comment</a>
    <% else %>
      <a href="#" onclick="return Asks.toggleComments('ask','<%= @question.id %>');"><%= @question.comments_count %> comments</a>
    <% end %>
    • <a href="#new_answer" onclick="return $('#new_answer .qeditor_preview').focus();">answer</a>
    • <span class="date"><%= l @question.created_at.getlocal, :format => :short %></span>
  </div>
</div>

<% if @question.answers_count.to_i > 0 %>
<div class="answers-count">
	<%= @ask.answers_count %> answers
</div>
<% end %>

<div class="answers">
  <% user_answered = false %>
  <% if !@answers.blank? %>
    <% @answers.each do |item| %>
      <% user_answered = true if owner?(item) %>
      <%= render("answer", :item => item) %>
    <% end %>
  <% end %>
</div>

<% if current_user %>
  <% if user_answered %>
    <div class="disabled_answer">You can only answer onece，but you can change your answer。</div>
  <% else %>
    <div class="answer_form from">
      <h2>Answer</h2>
      <% if current_user %>
      <div class="user_info">
        <%= current_user.name %>,
        <span id="answer_user_tagline"><%= user_tagline_tag(current_user) %></span>
        <%= in_place_edit_tag current_user, :tagline, :text_id => "answer_user_tagline", :label => "修改简介" %>
      </div>
      <% end %>
      <%= form_for(@answer, :remote => true, :html => { :onsubmit => "return Asks.beforeAnswer(this);" },
                   :url => answer_ask_path(@question.id)) do |f| %>
        <div class="row">
          <%= f.text_area :body, :style => "height:100px;", :class => "text long" %>
        </div>
        <div class="actions">
          <button class="submit" type="submit">Answer</button>
        </div>
      <% end %>
      <script type="text/javascript">
        $("#answer_body").qeditor({'is_mobile_device': <%= is_mobile_device? ? 'true' : 'false' %>});
      </script>
    </div>
  <% end %>
<% end %>
<% content_for :sidebar do %>
    <% if current_user %>
      <div class="box">
        <div class="inner">
          <a href="#" class="dropdown" onclick="return Asks.dropdown_menu(this);"><span class="settings">选项</span></a>
        </div>
      </div>
    <% end %>

    <div class="box standard gray">
      <h2>stats</h2>
        <div class="inner">
            <p>views <%= @question.views_count %> views</p>
            <% if @question.user %>
            <p>asked by <%= @question.user.name %></p>
            <% end %>
        </div>
    </div>
<% end %>
