<%= render 'base' %>
<div class="question" id="question<%= @question.id %>">
<%= render "questions/question", :item => @question %>
<div class="comments" >
  <% if @question.comments.count == 0 %>
    <span>No comments</span>
  <% else %>
    <% @question.comments.each do |item| %>
      <%= render "comments/comment", :item => item %>
    <% end %>
  <% end %>
</div>
<div class="answers" >
  <% if @question.answers.count == 0 %>
    <span>No answers</span>
  <% else %>
    <% @question.answers.each do |item| %>
      <%= render "answers/answer", :item => item %>
    <% end %>
  <% end %>
</div>
