<div class="rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <p class="text-gray-700 text-base">
      <%= item.body %>
    </p>
  </div>
  <div class="user">
  <%= image_tag avatar_url_for(item.user), class: "rounded-full h-8 w-8 align-middle" %>
  <a href="<%=user_path(item.user)%>"><%=item.user.name%></a>
  </div>
    <div class="vote action" data-vote-url-value="<%=answer_path(item)%>" data-controller="vote">
      <em data-vote-target="overview"><%= item.votes_for.up.count  %>|<%= item.votes_for.down.count  %></em>
      <% if current_user %>
        <%= link_to "like", "#", data: { vote: { id: { param: 1 } }, action: "vote#updateVote" } %>
        <%= link_to "dislike", "#", data: { vote: { id: { params: -1 } }, action: "vote#updateVote" } %>
      <% end %>
    </div>
    <% if current_user && current_user.id == item.user_id %>
      <%= link_to "Delete", answer_path(item), data: { 'turbo-method': "delete", 'delete-target': "link", action: "turbo:click->delete#captureClick turbo:before-fetch-request@window->delete#deleteAndHide" } %>
      </p>
    <% end %>
    </div>
</div>
